table {
    border: 1px solid gray;
    border-collapse: collapse;
    font-family: monospace;
    text-align: right;
}

tr:nth-child(1) td {
    word-wrap: anywhere;
    white-space: pre-wrap;
    text-align: left;
    vertical-align: bottom;
}

tr:nth-child(1) td:hover {
    background-color: white;
}
td:nth-child(1):hover {
    background-color: white;
}
tr, td {
height: 20px;
}

td {
width: 20px;
border: 1px solid 
}

main {
    display :flex;
}
.questions {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    width:40%;
}

tr td{
    page-break-inside: avoid;
    white-space: nowrap;

}

td:hover {
    background-color: red;
}

.activated {
    background-color: rgb(59, 59, 253);
}

.activated:hover {
    background-color: rgb(59, 59, 253);
}

li {
    cursor: pointer;
}

#grid-container div  {
    font-size: 4rem;
    font-weight: 900;
}